<h3>We have encountered an error while rendering your page, please try again and if the problem consists then please contact the server Administrator.</h3>
<p><b>Details:</b> <%= locals.error ? error : 'No Error has been Provided, this is likely caused by No Page Component being Provided for Render.' %></p>