<!DOCTYPE html>

<html>

    <head>
        <title><%= locals.title ? title : 'No Title Provided' %></title>
        
        <meta name="description" content="<%= locals.description ? description : 'No Description Provided' %>" />

        <link rel="stylesheet" href="/css/main.css" />
    </head>


    <body>
        <%- include(`./components/${locals.component ? component : 'error'}`) %>
    </body>


    <footer>

    </footer>

</html>