.rainbow-border {
    --angle: 0deg;
    border-image: conic-gradient(var(--angle), red, violet, blue, cyan, lightgreen, yellow, orange, red, violet) 1;
    border-image-repeat: repeat;
    animation: rotate-border infinite 10s linear;
}

@keyframes rotate-border {
    from { --angle: 0deg; } to { --angle: 360deg; }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}